<html>
<body>
    {% include 'navbar.html' %}
    {% if emails %}
    <table border=1px style="margin-left:auto; margin-right:auto;">
        <tr>
            <th>label</th>
            <th>e-mail</th>
            <th>filter</th>
        </tr>
        {% for rec in emails|sort(attribute="target_label.name") %}
        <tr>
            <td>{{rec.target_label.name}}</td>
            <td>{{rec.address}}</td>
            <td>{{rec.filter_id|default("N/A")}}</td>
        </tr>
        {% endfor%}
    </table>
    <a href="/push_senders_by_label?label={{ target_label }}">Create filter from unassigned</a>
    {% else %}
    No messages in {{ target_label }}
    {% endif %}
</body>
</html>
