<html>
    <body>
        {% include 'navbar.html' %}
        <h1><a href="/fetch_filters">Get filters</a></h1>
        <table border=1px style="margin-left:auto; margin-right:auto;">
        <tr>
            <th>id</th>
            <th>Target label</th>
            <th>Senders</th>
        </tr>
        {% for filter in filters %}
        <tr>
            <td>{{ filter.gid }}</td>
            <td>{{ filter.target_label.name }}</td>
            <td>{{ filter.emails | count }}</td>
            <td><a href="/apply_filter?filter={{ filter.gid }}" >Apply to inbox</a></td>
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
