<html>
<body>
{{ msg }}
<table border=1px style="margin-left:auto; margin-right:auto;">
    <tr><td colspan="2"><a href="/authorize">Authorize</a></td><td colspan="2"><a href="/revoke">Revoke</a></td><td colspan="2"><a href="/clear">Clear</a></td></tr>
    <tr><td colspan="3"><a href="/filters">Filters</a></td><td colspan="3"><a href="/labels">Labels</a></td></tr>
    <tr><td colspan="6"><a href="/assignments">Assignments</a></td></tr>
</table>
</body>
</html>
