<html>
    <body>
        {% include 'navbar.html' %}
        <h1><a href="/fetch_labels" >Fetch labels from server</a></h1>

        <table border=1px style="margin-left:auto; margin-right:auto;">
        <tr>
            <th>Label</th>
            <th>Senders</th>
            <th>Filters</th>
        </tr>
        {% for label in labels %}
        <tr>
            <td><a href="/assignments?label={{ label.gid }}">{{ label.name }}</a></td>
            <td>{{ label.emails | count }}</td>
            <td>{{ label.filters | count }}</td>
            <td><a href="/fetch_senders_by_label?label={{ label.gid }}" >Fetch senders</a></td>
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
